/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/Library
/Logs
/obj
/Inventory-Shop-Equipment System.sln
/Inventory-Shop-Equipment System.sln.DotSettings.user
/Temp